@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="center-row">

    @*<div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h2>Create a new account.</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
        </div>*@

    <div class="register-box" style="margin-top:100px;">
        <div class="card card-outline card-primary" style="border-top-color:#a890c0;">
            <div class="card-header text-center">
                <a class="h1"><b>Work</b>time</a>
            </div>
            <div class="card-body">

                <form method="post">
                        <span asp-validation-for="Input.ImageUrl" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.ImageUrl" class="form-control" aria-required="true" placeholder="Профилна снимка(линк)"/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-image"></span>
                            </div>
                        </div>
                    </div>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="Първо име"/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Последно име"/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Потребителско име"/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                        <span asp-validation-for="Input.Position" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Position" class="form-control" autocomplete="username" aria-required="true" placeholder="Работна позиция"/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-briefcase"></span>
                            </div>
                        </div>
                    </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="E-mail"/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Парола"/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Потвърди паролата"/>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4 mt-2">
                            <button type="submit" class="btn btn-primary btn-block" style="background-color:#a890c0; border:none; width:150px;">Регистрирай се</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <p class="mt-3">
                    <a asp-area="Identity" asp-page="/Account/Login" class="text-center custom-link">Вече имам профил</a>
                </p>  
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
